<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csuchico.ecst.ahorgan.neighbor">

    <uses-sdk android:minSdkVersion="14" />

    <uses-feature android:name="android.hardware.wifi.direct" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".new_world.WifiP2pBcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.p2p.STATE_CHANGED" />
                <action android:name="android.net.wifi.p2p.PEERS_CHANGED" />
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE" />
                <action android:name="android.net.wifi.p2p.THIS_DEVICE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".world.AlarmReceiverForDiscoverLoop"
            android:enabled="true" />

        <activity
            android:name=".postListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".postDetailActivity"
            android:label="@string/title_post_detail"
            android:parentActivityName=".postListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.csuchico.ecst.ahorgan.neighbor.postListActivity" />
        </activity>

        <service
            android:name=".world.WorldService"
            android:enabled="true" />
        <service
            android:name=".world.ServiceDiscovery"
            android:enabled="true" />
        <service
            android:name=".world.DiscoverService"
            android:enabled="true" />
        <service
            android:name=".new_world.NewWorldService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".new_world.PeerManagerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".new_world.ConnectionManager"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Community.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>